<h1 class="display-4">Articles</h1>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% articles.forEach(article=>{ %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td>
                    <a href="/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/delete/<%= article.id %>" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>

       <% }); %>
    </tbody>
</table>
<br><br>
<!-- <h4>Authorised User: <%=req.session.user%></h4> -->
